/* Enter your custom styles here */
span#__text5-container-formatter---formatter--tbInvoice-0 {
    color: red;
}
span#__text5-container-formatter---formatter--tbInvoice-1 {
    color: blue;
}
span#__text5-container-formatter---formatter--tbInvoice-2 {
    color: brown;
}
span#__text5-container-formatter---formatter--tbInvoice-3 {
    color: cornflowerblue;
}
span#container-formatter---formatter--page-title-inner {
    color: yellowgreen;
}

